[
    {
        "scope": "https://cas-metascript-wksv3k-tools.pathfinder.gov.bc.ca:443",
        "method": "POST",
        "path": "/api/session",
        "body": {
            "username": "bad@credentials.is",
            "password": "accessdenied"
        },
        "status": 400,
        "response": {
            "errors": {
                "password": "did not match stored password"
            }
        },
        "rawHeaders": [
            "Last-Modified",
            "Tue, 06 Aug 2019 23:07:22 +0000",
            "Content-Type",
            "application/json;charset=utf-8"
        ]
    }
]